### **Python Decision Making**

**if statements**

In [ ]:
num=10
if num>-4:
    print("Number is not positive")

Number is not positive

**if...else statements**

In [ ]:
num=10
if num>22 :
    print('Number is greater than 22')
else:
    print('Number is less than 22')

Number is less than 22

**if...elif...else Statement**

In [ ]:
num=19
if num>10:
    print("Positive number")
elif num==0:
    print('Zero')
else:
    print('Negative number')

Positive number

**nested if statements**

In [ ]:
num=-10
if num>=0:
    if num==0:
      print('Number is 0')
    else:
        print('Number is not negative')
else:
    print('Number is not positive')

Number is not positive

### **Python Loops**

**while loop**

In [ ]:
i=1
print('ODD NUMBERS TILL LIMIT')
while i<=14:
  print(i)
  i=i+2

ODD NUMBERS TILL LIMIT
1
3
5
7
9
11
13

**for loop**

In [ ]:
dice= [5,2,6,3,4]
for x in dice:
  print(x)

5
2
6
3
4

**nested loops**

In [ ]:
players=["Messi","Ronaldo","Neymar"]
fruits=["carrot","coconut","chakka"]
for x in players:
  for y in fruits:
    print(x,y)

Messi carrot
Messi coconut
Messi chakka
Ronaldo carrot
Ronaldo coconut
Ronaldo chakka
Neymar carrot
Neymar coconut
Neymar chakka

### **Loop Control Statements**

**Break Statement**

In [ ]:
for letter in "textbook":
    if letter=='b':
        break
print("Current Letter:",letter)

Current Letter: b

**Continue Statement**

In [ ]:
for letter in "Traffic Block":
    if letter == 'f' or letter == 'c':
        continue
    print ("Current Letter :", letter)

Current Letter : T
Current Letter : r
Current Letter : a
Current Letter : i
Current Letter :
Current Letter : B
Current Letter : l
Current Letter : o
Current Letter : k

**Pass Statement**

In [ ]:
for letter in 'monitor':
    pass
print("Last Letter :",letter)

Last Letter : r